<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-12 login-form-1">
                <h3 class="register-heading">Form Login</h3>
                <form method="post" action="/login">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Username *" value="" />
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Password *" value="" />
                    </div>  
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <a href="{{url_for('register')}}" class="ForgetPwd">Belum Memiliki Akun?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>